[Desktop Entry]
Type=Service
Encoding=UTF-8
Name=Diff Stats
Name[el]=Στατιστικά diff
Name[fr]=Statistiques de diff
Name[x-test]=xxDiff Statsxx
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_diff
MimeType=text/x-diff
PreferredItems=Files,First,Format,Hunks,Insert,Modify,Delete
