[Desktop Entry]
Type=Service
Name=Diff Stats
Name[af]=Diff Statistiek
Name[bg]=Статистика за разлики
Name[br]=Stadegoù Diff
Name[bs]=Diff statistika
Name[ca]=Estadístiques de diff
Name[cs]=Statistika rozdílů
Name[cy]=Ystadegau Gwahaniaethau
Name[da]=Diff-stats
Name[de]=Diff-Statistiken
Name[el]=Στατιστικά diff
Name[es]=Estadísticas Diff
Name[et]=Võrdlemise tulemused
Name[eu]=Desberdintasun estatistikak
Name[fa]=آمارهای Diff
Name[fi]=Diff-tilastot
Name[fr]=Statistiques de diff
Name[ga]=Staitistic Diff
Name[gl]=Estatísticas de diff
Name[he]=סטטיסטיקת Diff
Name[hi]=डिफ स्टेट्स
Name[hr]=Diff statistike
Name[hu]=Diff statisztika
Name[it]=Statistiche di confronto
Name[ja]=Diff 統計
Name[kk]=Diff статистикасы
Name[lt]=Skirtumų statistika
Name[ms]=Stat Diff
Name[nb]=Diff-statistikk
Name[nds]=Verscheelstatistiken
Name[ne]=भिन्न तथ्याङ्क
Name[nl]=Diff-statistieken
Name[nn]=Diff-statistikk
Name[pa]=ਅੰਤਰ ਹਾਲਤ
Name[pl]=Statystyka różnic
Name[pt]=Estatísticas do diff
Name[pt_BR]=Estados do Diff
Name[ro]=Statistici Diff
Name[ru]=Статистика различий
Name[sk]=Štatistiky Diff
Name[sl]=Statistike diff
Name[sr]=Статистика разликовања
Name[sr@Latn]=Statistika razlikovanja
Name[sv]=Diff-statistik
Name[ta]=டிப் ஸ்டட்ஸ்
Name[tg]=Статистикаи фарқият
Name[th]=สถานะแตกต่าง
Name[tr]=Diff İstatistikleri
Name[uk]=Статистика відмінностей
Name[zh_CN]=Diff 统计
Name[zh_TW]=Diff 狀態
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_diff
MimeType=text/x-diff
PreferredItems=Files,First,Format,Hunks,Insert,Modify,Delete
