[Desktop Entry]
Type=Service
Name=Diff Stats
Name[af]=Diff Statistiek
Name[bs]=Diff statistika
Name[ca]=Estadístiques de diff
Name[cs]=Statistika rozdílů
Name[da]=Diff-stats
Name[de]=Diff-Statistiken
Name[el]=Στατιστικά diff
Name[es]=Estadísticas Diff
Name[et]=Võrdlemise tulemused
Name[fi]=Diff tilastot
Name[fr]=Statistiques de diff
Name[he]=סטטיסטיקת Diff
Name[hr]=Diff statistike
Name[hu]=Diff statisztika
Name[it]=Statistiche confronto
Name[ja]=Diff 統計
Name[lt]=Skirtumų statistika
Name[nl]=Diff-statistieken
Name[nn]=Diff-statistikk
Name[pl]=Statystyka różnic
Name[pt]=Estatísticas do diff
Name[pt_BR]=Estados do Diff
Name[ro]=Statistici Diff
Name[ru]=Статистика расхождений
Name[sk]=Štatistiky Diff
Name[sl]=Statistike diff
Name[sv]=Diff-statistik
Name[th]=สถานะแตกต่าง
Name[tr]=Diff İstatistikleri
Name[zh_CN]=Diff 统计
Name[zh_TW]=Diff 狀態
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_diff
MimeType=text/x-diff
PreferredItems=Files,First,Format,Hunks,Insert,Modify,Delete
