[Desktop Entry]
Type=Service
Name=Qt Linguist File Info
Name[bg]=Информация за файла Qt Linguist
Name[br]=Restr titouroù Qt Linguist
Name[bs]=Qt Linguist informacije o datoteci
Name[ca]=Informació fitxer de Qt Linguist
Name[cs]=Info o souboru Qt Linguist
Name[cy]=Gwybodaeth Ffeil Qt Linguist
Name[da]=Qt Linguist Fil-info
Name[de]=Qt Linguist-Dateiinfo
Name[el]=Πληροφορίες αρχείου Qt Linguist
Name[es]=Información de archivo de Qt Linguist
Name[et]=Qt Linguisti faili info
Name[eu]=Qt Linguist fitxategi informazioa
Name[fa]=اطلاعات پروندۀ زبان‌شناسQt
Name[fi]=Qt Linquist -tiedoston tiedot
Name[fr]=Fichier d'informations Qt Linguist
Name[ga]=Eolas faoi Chomhad Qt Linguist
Name[gl]=Información do Ficheiro de Qt Linguist
Name[hi]=क्यूटी लिंग्विस्ट फ़ाइल जानकारी
Name[hu]=Qt Linguist fájljellemzők
Name[is]=Qt Linguist skráarupplýsingar
Name[it]=Informazioni file per Qt Linguist
Name[ja]=Qt Linguist ファイル情報
Name[ka]=Qt Linguist ფაილის ინფორმაცია
Name[kk]=Qt Linguist файл мәліметі
Name[lt]=Qt Linguist bylos informacija
Name[nb]=Informasjon om Qt Linguist-fil
Name[nds]=QtLinguist-Datei-Info
Name[ne]=Qt बहुभाषी फाइल सूचना
Name[nl]=Qt Linquïst-bestandsinformatie
Name[nn]=Informasjon om Qt Linguist-fil
Name[pa]=Qt Linguist ਫਾਇਲ ਜਾਣਕਾਰੀ
Name[pl]=Informacja pliku Qt Linguist
Name[pt]=Informação do Ficheiro do Qt Linguist
Name[pt_BR]=Arquivo de Informações de Lingüística do Qt
Name[ru]=Информация о файле в формате Qt Linguist
Name[sk]=Informácie pre Qt Linguist
Name[sl]=Informacije o Qt Linguist
Name[sr]=Информације о фајлу Qt Linguist-а
Name[sr@Latn]=Informacije o fajlu Qt Linguist-a
Name[sv]=Qt Linguist-filinformation
Name[ta]=Qt  மொழியியல் கோப்புகள் தகவல்
Name[tg]=Ахборот дар бораи файл дар формати Qt Linguist
Name[tr]=Qt Dilbilimci Dosya Bilgisi
Name[uk]=інформація про файл формату Qt Linguist
Name[zh_CN]=Qt 语言大师文件信息
Name[zh_TW]=Qt 語言檔資訊
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_ts
MimeType=application/x-linguist
PreferredGroups=General
PreferredItems=Messages,Translated,Untranslated,Fuzzi
