[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Qt Linguist File Info
Name[x-test]=xxQt Linguist File Infoxx
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_ts
MimeType=application/x-linguist
PreferredGroups=General
PreferredItems=Messages,Translated,Untranslated,Fuzzi
