[Desktop Entry]
Type=Service
Name=C/C++ Header Info
Name[af]=C/C++ Opskrif Inligting
Name[bg]=Информация за заглавната част на C/C++
Name[br]=Titouriñ diwar-benn ar reollin C/C++
Name[ca]=Informació de capçaleres C/C++
Name[cs]=Informace o C/C++ hlavičce
Name[cy]=Gwybodaeth Pennawd C/C++
Name[da]=C/C++-headerinfo
Name[de]=C++-Header-Info
Name[el]=Πληροφορίες κεφαλίδων C/C++
Name[es]=Info de cabecera C/C++
Name[et]=C/C++ päise info
Name[eu]=C/C++ goiburuen informazioa
Name[fa]=اطلاعات سرآیند C/C++
Name[fi]=C/C++-otsikkotiedot
Name[fr]=Informations d'en-tête C/C++
Name[gl]=Información da cabeceira de C/C++
Name[he]=מידע כותרות ++C/C
Name[hi]=C/C++ हेडर जानकारी
Name[hr]=Informacije o C++ zaglavljima
Name[hu]=C/C++ header fájl jellemzői
Name[is]=C/C++ haus upplýsingar
Name[it]=Informazioni intestazioni C/C++
Name[ja]=C/C++ ヘッダ情報
Name[ka]=C/C++ ზედა კოლონტიტულის ინფორმაცია
Name[kk]=C/C++ айдар мәліметі
Name[lt]=C/C++ antraščių informacija
Name[ms]=Info Pengepala C/C++
Name[nb]=C++-deklarasjonsfilinfo
Name[nds]=C/C++-Koppdatei-Info
Name[ne]=C/C++ Header info
Name[nl]=C/C++ Header-info
Name[nn]=C/C++-deklarasjonsinfo
Name[pa]=C/C++ Header ਜਾਣਕਾਰੀ
Name[pl]=Informacja z nagłówka C/C++
Name[pt]=Informações do Cabeçalho de C/C++
Name[pt_BR]=Informações sobre Cabeçalhos C/C++
Name[ro]=Informaţii antet C/C++
Name[ru]=Информация о файлах заголовков C/C++
Name[sk]=Informácie o hlavičkách C/C++
Name[sl]=Informacije o glavi C/C++
Name[sr]=Информације о C/C++ заглављу
Name[sr@Latn]=Informacije o C/C++ zaglavlju
Name[sv]=Information om C/C++-deklarationsfiler
Name[ta]= =C/C++ தலைப்பு தகவல்
Name[tg]=Ахборот дар бораи сарлавҳаи файлҳои C/C++
Name[th]=ข้อมูลแฟ้มส่วนหัว C/C++
Name[tr]=C/C++ Başlık Bilgisi
Name[uk]=Інформація по заголовкам C++
Name[xh]=C/C++ Ulwazi lokubhaliweyo okuphezulu
Name[zh_CN]=C/C++ 头文件信息
Name[zh_TW]=C/C++ 檔頭資訊
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_cpp
MimeType=text/x-chdr
PreferredItems=Lines,Code,Comment,Blank,Strings,i18n Strings,Included Files
