[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=C++ Info
Name[fr]=Informations C++
Name[x-test]=xxC++ Infoxx
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_cpp
MimeType=text/x-c++src;text/x-chdr
PreferredGroups=General
PreferredItems=Lines,Code,Comment,Blank,Strings,i18n Strings,Included Files
