[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=C/C++ Header Info
Name[x-test]=xxC/C++ Header Infoxx
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_cpp
MimeType=text/x-chdr
PreferredItems=Lines,Code,Comment,Blank,Strings,i18n Strings,Included Files
