[Desktop Entry]
Type=Service
Name=C++ Info
Name[af]=C++ Inligting
Name[bg]=Изходен код на C++
Name[br]=Titouroù C++
Name[ca]=Informació C++
Name[cs]=C++ info
Name[cy]=Gwybodaeth C++
Name[da]=C++-info
Name[de]=C++-Info
Name[el]=Πληροφορίες C++
Name[eo]=C++-informo
Name[es]=Info de C++
Name[et]=C++ info
Name[eu]=C++ informazioa
Name[fa]=اطلاعات C++
Name[fi]=C++-tiedot
Name[fo]=C++-upplýsingar
Name[fr]=Informations C++
Name[ga]=Eolas C++
Name[gl]=Información de C++
Name[he]=מידע ++C
Name[hi]=C++ जानकारी
Name[hr]=C++ informacije
Name[hu]=C++-jellemzők
Name[is]=C++ upplýsingar
Name[it]=Informazioni C++
Name[ja]=C++ 情報
Name[ka]=C++ ინფორმაცია
Name[kk]=C++ мәліметі
Name[lt]=C++ Informacija
Name[ms]=Info C++
Name[nds]=C++-Datei-Info
Name[nl]=C++-info
Name[nn]=C++-info
Name[pa]=C++ ਜਾਣਕਾਰੀ
Name[pl]=Informacja z C++
Name[pt]=Informação de C++
Name[pt_BR]=Informações C++
Name[ro]=Informaţii C++
Name[ru]=Информация C++
Name[sk]=Informácie o C++
Name[sl]=Informacije o C++
Name[sr]=C++ информације
Name[sr@Latn]=C++ informacije
Name[sv]=C++-information
Name[ta]= =C/C++ தகவல்
Name[tg]=Ахбороти C++
Name[th]=ข้อมูล C++
Name[tr]=C++ Bilgisi
Name[uk]=Інформація про C++
Name[xh]=C++ Ulwazi
Name[zh_CN]=C++ 信息
Name[zh_TW]=C++ 資訊
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_cpp
MimeType=text/x-c++src;text/x-chdr
PreferredGroups=General
PreferredItems=Lines,Code,Comment,Blank,Strings,i18n Strings,Included Files
